@font-face {
  font-family: Mono-Bold;
  src: url(./assets/fonts/iAWriterMonoS-Bold.ttf);
}

@font-face {
  font-family: Mono-BoldItalic;
  src: url(./assets/fonts/iAWriterMonoS-BoldItalic.ttf);
}

@font-face {
  font-family: Mono-Italic;
  src: url(./assets/fonts/iAWriterMonoS-Italic.ttf);
}

@font-face {
  font-family: Mono-Regular;
  src: url(./assets/fonts/iAWriterMonoS-Regular.ttf);
}

@import "./assets/css/reset.scss";

* {
  box-sizing: border-box
}


// COLORS
$affair: #72528d;
$purpleMountainMajesty: #a37ab6;
$mineShaft: #3c3c3c;
$oxfordBlue: #3C4556;
$anakiwa: #8be9fd;
$koromiko: #ffb86c;
$screaminGreen: #50fa7b;
$cinnabar: #e7503b;

body {
  background-color: $oxfordBlue;
}